$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$formBorder: none;
$formBorderRadius: 0;
$inputBorderRadius: 0;

$default: 'DM Sans', -apple-system, BlinkMacSystemFont, sans-serif;
$logo: 'AllRoundGothic-Book', -apple-system, BlinkMacSystemFont, sans-serif;

$black: #383838;
$blue: #0A5BB8;
$light-blue: #4095F6;
$text: #989898;
$light-text: #A0A0A0;
$border: #D9D9D9;
$yellow: #FAA500;
$green: #2EAB1A;
$red: #DE0106;
$bg-grey: #F6F7F8;
$bg-blue: #F1F5F8;
$shadow: 0 4px 20px 0 rgba(116, 116, 117, 0.15);
