<footer class="footer">
	<div class="footer-main">
		<div class="container">
			<div class="footer-main__logo">
				<div class="footer-logo">
					<img src="../../images/footer-logo.png" loading="lazy" alt="logo">
				</div>
				<div class="footer-contacts">
					<a href="info@ehryourway.com">
						<i>
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_622_383)">
									<path d="M3 7C3 6.46957 3.21071 5.96086 3.58579 5.58579C3.96086 5.21071 4.46957 5 5 5H19C19.5304 5 20.0391 5.21071 20.4142 5.58579C20.7893 5.96086 21 6.46957 21 7V17C21 17.5304 20.7893 18.0391 20.4142 18.4142C20.0391 18.7893 19.5304 19 19 19H5C4.46957 19 3.96086 18.7893 3.58579 18.4142C3.21071 18.0391 3 17.5304 3 17V7Z" stroke="#4095F6" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M3 7L12 13L21 7" stroke="#4095F6" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
								</g>
								<defs>
									<clipPath id="clip0_622_383">
										<rect width="24" height="24" fill="white"/>
									</clipPath>
								</defs>
							</svg>

						</i> info@ehryourway.com
					</a>
					<a href="tel:+8774787773">
						<i>
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_622_389)">
									<path d="M5 4H9L11 9L8.5 10.5C9.57096 12.6715 11.3285 14.429 13.5 15.5L15 13L20 15V19C20 19.5304 19.7893 20.0391 19.4142 20.4142C19.0391 20.7893 18.5304 21 18 21C14.0993 20.763 10.4202 19.1065 7.65683 16.3432C4.8935 13.5798 3.23705 9.90074 3 6C3 5.46957 3.21071 4.96086 3.58579 4.58579C3.96086 4.21071 4.46957 4 5 4Z" stroke="#4095F6" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
								</g>
								<defs>
									<clipPath id="clip0_622_389">
										<rect width="24" height="24" fill="white"/>
									</clipPath>
								</defs>
							</svg>
						</i>
						877.478.7773
					</a>
				</div>
			</div>
			<div class="footer-main__menu">
				<div class="footer-menu">
					<span>Product Suites</span>
					<ul>
						<li><a href="javascript:void(0)">CRM & Client Engagement</a></li>
						<li><a href="javascript:void(0)">Front Office Operations</a></li>
						<li><a href="javascript:void(0)">Documentation & Clinical Care</a></li>
						<li><a href="javascript:void(0)">Workforce Management</a></li>
						<li><a href="javascript:void(0)">Operations & Productivity</a></li>
						<li><a href="javascript:void(0)">Billing & Revenue Cycle</a></li>
						<li><a href="javascript:void(0)">Compliance & Connectivity</a></li>
						<li><a href="javascript:void(0)">Reporting</a></li>
						<li><a href="javascript:void(0)">AI-Powered Tools</a></li>
					</ul>
				</div>
				<div class="footer-menu">
					<span>Customers</span>
					<ul>
						<li><a href="javascript:void(0)">Behavioral Health</a></li>
						<li><a href="javascript:void(0)">Inpatient</a></li>
						<li><a href="javascript:void(0)">Medical Practices</a></li>
					</ul>
				</div>
				<div class="footer-menu">
					<span>About Us</span>
					<ul>
						<li><a href="javascript:void(0)">Our Company</a></li>
						<li><a href="javascript:void(0)">Careers</a></li>
					</ul>
				</div>
				<div class="footer-menu">
					<span>Contact Us</span>
					<ul>
						<li><a href="javascript:void(0)">Request a demo</a></li>
						<li><a href="javascript:void(0)">Sign In</a></li>
						<li><a href="javascript:void(0)">Support</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bot">
		<div class="container">
			<span class="footer-bot__copyright">&copy; 2025 EHR. All Rights Reserved</span>
			<ul class="footer-bot__menu">
				<li><a href="javascript:void(0)">Terms of Service</a></li>
				<li><a href="javascript:void(0)">Privacy Policy</a></li>
			</ul>
		</div>
	</div>
</footer>
